* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 60px auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  margin-bottom: 15px;
  color: #00ffd5;
}

p {
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu a,
button,
.back {
  background: #00ffd5;
  color: black;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#status {
  margin-top: 20px;
  color: #00ffd5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

.verify {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.success {
  background: green;
}
