<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inbox</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Inbox</h1>

      <table>
        <tr>
          <th>Người nhận</th>
          <th>File</th>
          <th>Status</th>
        </tr>

        <tr>
          <td>Minh Phúc</td>
          <td>datasex.txt</td>
          <td></td>
        </tr>

        <tr>
          <td>Minh Khang</td>
          <td>datasexhd.txt</td>
          <td>Chữ ký số</td>
        </tr>
      </table>

      <a class="back" href="index.html">Back Home</a>
    </div>
  </body>
</html>
