<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Verify Signature</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">

    <h1>Verify Result</h1>

    <div class="verify success">
      ✓ Signature Valid
    </div>

    <div class="verify success">
      ✓ Integrity Verified
    </div>

    <div class="verify success">
      ✓ Authenticated Sender
    </div>

    <a class="back" href="index.html">Back Home</a>

  </div>

</body>
</html>